body{
  background-color: #002b36;
}

h1, h2, p {
  font-family: 'Montserrat', sans-serif;
  color: #eee;
}

p {
  text-align: center;
}

svg {
  float: right;
}



/*#####################
#  Node Styling
####################*/

.node {
  font: 10px sans-serif;
}

.node text{
  fill: #93A1A1;
}

.node circle {
  stroke: #268BD2;
  fill: #66b1e6;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #93A1A1;
  stroke-width: 1.5px;
}

#editor, .editor-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 35%;
}

#editor{
  width: 100%;
}

.reload-container{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0585AB;
  width: 100%;
  height: 50px;
  z-index: 5;
}

.reload-container:hover {
  background-color: #06a6d5;
  cursor: pointer;
}

#reload {
  width: 100%;
  height: 100%;
}
