.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

svg {
    float: right;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#editor{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}
